# Build output
/build/
/sdkconfig.old
/sdkconfig.bak
/sdkconfig.defaults

# IDF tools and cache
/.vscode/
/.ccls-cache/
/.cmake/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
*.log

# Python virtual environment
/venv/
/.python_env/
/.env/

# Misc
*.swp
*.swo
*.DS_Store
*.bak
*.tmp


